# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Node
bot/node_modules/

# Data & secrets
data/
.env
*.db

# WhatsApp session
data/whatsapp-session/

# WhatsApp web cache
bot/.wwebjs_cache/
bot/.wwebjs_auth/

# OS
.DS_Store
